/* CSS Document */

/**
 *	Donation Table
 */
 table #d_items{}
 
 a.addrow{color: #0C0; text-decoration: none;}
 a.addrow:hover{color: #0F9; text-decoration:underline;}
 
 a.removerow{color:#C00; text-decoration: none;}
 a.removerow:hover{color:#c55; text-decoration: underline;}
 
 table #d_items table{}
 table #d_items td{padding: 4px 5px;}
 table #d_items tr td.itemID input{ width: 45px; }
 table #d_items tr td.qty input{ width: 45px; }
 table #d_items tr td.itemName input{ width: 256px; }
 
 
/* Color Picker */
.sp-replacer{margin-right: 10px;}